[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = phamtienphuc1102
	email = 64759245+phamtienphuc1102@users.noreply.github.com
